name: Cache Dependencies

on: push

jobs:
  cache-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: prime-cache-cd3ca71
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-cd3ca71
          restore-keys: |
            cache-cd3ca71
        id: cache
      
      - name: Echo cache result
        run: echo "Cache hit: ${{ steps.cache.outputs.cache-hit }}"
